{% extends 'base.html' %}
{% block content %}

{% url 'search' as home_url %}

<div class="position-absolute top-50 start-50 translate-middle">

    <div style="text-align:center">
        <a class="nav-link"
                                                                                  href="https://github.com/amirbaa1/">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github"
                 viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
        </a>
    </div>
    <br>
    <form class="row g-1" method="POST" role="search" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="col-auto">
            <input class="form-control me-2" type="search" aria-label="search" placeholder="Search City"
                   name="searched">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-1">Search</button>
        </div>
    </form>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-sm-5 col-md-8">
                    <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Weather Icon">
                    <h4 class="card-title">{{ weather.city }},{{ weather.country }} </h4>
                    <h5>{{ weather.temperature }}° C</h5>
                    <h6 class="card-text">{{ weather.description }}</h6>
                    <button class="btn btn-primary mb-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                        more
                    </button>
                    {% if home_url == request.path %}
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       href="{% url 'home' %}">
                        back
                    </a>
                    {% endif %}
                </div>
                <div class="col-6 col-md-4">

                </div>
            </div>
            <div class="collapse" id="collapseExample" style="text-align:center;">
                <div>
                    {% for w_5 in weather_5 %}
                    <!--{{ w_5.mean_temp }}° C<img src="http://openweathermap.org/img/wn/{{ w_5.weather_icon }}.png" alt="Weather Icon"> - {{ w_5.day }}-->
                    {{ w_5.mean_temp }}° C - {{ w_5.day }}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <p style="text-align:center">API <a
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-warning"
            href="https://openweathermap.org/api">
        openweathermap.org/api
    </a></p>
</div>
{% endblock %}