{% extends 'base.html' %}
{% block content %}

{% url 'search' as home_url %}
<div class="d-flex justify-content-center">
    <!--<div class="position-absolute top-50 start-50 translate-middle">-->
    <div style="width: 21rem;">
        <div style="text-align:center">
            <a class="nav-link mt-5"
               href="https://github.com/amirbaa1/">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github"
                     viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
            </a>
        </div>
        <br>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5">
            <form class="row g-1" method="POST" role="search" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="col-auto">
                    <input class="form-control me-2" type="search" aria-label="search" placeholder="Search City"
                           name="searched">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-1">Search</button>
                </div>
            </form>

            <!--    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">-->
            <div class="row g-0">
                <div class="col-sm-5 col-md-6">
                    <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Weather Icon">
                    <h4 class="card-title">{{ weather.city }},{{ weather.country }} </h4>
                    <h5>{{ weather.temperature }}° C</h5>
                    <h6 class="card-text">{{ weather.description }}</h6>
                    <div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                            summary
                        </button>
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample2"
                                aria-expanded="false" aria-controls="collapseExample2">
                            more day
                        </button>
                        </div>
                    </div>
                    {% if home_url == request.path %}
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       href="{% url 'home' %}">
                        back
                    </a>
                    {% endif %}
                </div>
                <div class="col-5 col-md-6">
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-thermometer-sun" viewBox="0 0 16 16">
                            <path d="M5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585A1.5 1.5 0 0 1 5 12.5z"/>
                            <path d="M1 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM3.5 1A1.5 1.5 0 0 0 2 2.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0L5 10.486V2.5A1.5 1.5 0 0 0 3.5 1zm5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm4.243 1.757a.5.5 0 0 1 0 .707l-.707.708a.5.5 0 1 1-.708-.708l.708-.707a.5.5 0 0 1 .707 0zM8 5.5a.5.5 0 0 1 .5-.5 3 3 0 1 1 0 6 .5.5 0 0 1 0-1 2 2 0 0 0 0-4 .5.5 0 0 1-.5-.5zM12.5 8a.5.5 0 0 1 .5-.5h1a.5.5 0 1 1 0 1h-1a.5.5 0 0 1-.5-.5zm-1.172 2.828a.5.5 0 0 1 .708 0l.707.708a.5.5 0 0 1-.707.707l-.708-.707a.5.5 0 0 1 0-.708zM8.5 12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        feels like {{ weather.feels_like }}
                    </p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-droplet" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                            <path fill-rule="evenodd"
                                  d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                        </svg>
                        humidity {{ weather.humidity }}%
                    </p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-wind" viewBox="0 0 16 16">
                            <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        wind {{ weather.wind }} m/s
                    </p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        visibility {{ weather.visibility }}
                    </p>

                </div>
            </div>
            <div class="collapse" id="collapseExample" style="text-align:center;">
                <div>
                    {% for w_5 in weather_5 %}
                    <!--{{ w_5.mean_temp }}° C<img src="http://openweathermap.org/img/wn/{{ w_5.weather_icon }}.png" alt="Weather Icon"> - {{ w_5.day }}-->
                    {{ w_5.mean_temp }}° C - {{ w_5.day }}
                    <br>
                    {% endfor %}
                </div>

            </div>
            <div class="collapse  mt-auto" id="collapseExample2" style="text-align:center;">
                <div>
                    {% for w in weather_m %}
                    {{ w.temperature }}° C - day {{ w.formatted_dt }}
                    <br>
                    {% endfor %}
                </div>

            </div>
        </div>

        <p style="text-align:center">API <a
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-warning"
                href="https://openweathermap.org/api">
            openweathermap.org/api
        </a></p>
    </div>
</div>
{% endblock %}