{% extends 'base.html' %}
{% block content %}

<body>

<div class="position-absolute top-50 start-50 translate-middle">
    <form class="row g-1" method="GET" role="search">
        {% csrf_token %}
        <div class="col-auto">
            <input class="form-control me-2" type="search" aria-label="search" placeholder="Search City"
                   name="searched">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-1">Search</button>
        </div>
    </form>
    {% if searched %}
    <div class="card" style="width: 18rem; text-align:center;">
        <div class="card-body">

            <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Weather Icon">
            <h4 class="card-title">{{ weather.city }},{{ weather.country }} </h4>
            <h5>{{ weather.temperature }}° C</h5>
            <h6 class="card-text">{{ weather.description }}</h6>
            <button class="btn btn-primary mb-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                more
            </button>

            <div class="collapse" id="collapseExample">
                <div>
                    {% for w_5 in weather_5 %}
                    {{ w_5.mean_temp }}° C - {{ w_5.day }}
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card" style="width: 18rem; text-align:center;">
        <div class="card-body">
            <h4>{{ message }}</h4>
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
               href="{% url 'home' %}">
                back
            </a>
        </div>
    </div>
    {% endif %}
</div>
</body>

{% endblock %}